.support {
  margin-top: 5rem;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.s-left {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
}

.community {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.s-description {
  display: flex;
  flex-direction: column;
  gap: 0.25;
  align-items: center;
  text-align: center;
}
.s-description > :nth-of-type(1) {
  font-size: 3rem;
  font-weight: bold;
}

@media screen and (max-width: 2000px) {
  .support {
    height: max-content;
  }
  .s-left {
    align-items: center;
  }
}
@media screen and (max-width: 1360px) {
  .support {
    height: max-content;
  }
  .s-left {
    align-items: center;
  }
  .community {
    overflow: scroll;
    overflow-y: auto;
    max-width: 1000px;
    flex-direction: row;
  }
  .s-description > :nth-of-type(1) {
    font-size: 2rem;
    font-weight: bold;
  }
  .s-description > :nth-of-type(2) {
    width: 70%;
  }
}
@media screen and (max-width: 650px) {
  .support {
    height: max-content;
  }

  .community > * {
    transform: scale(0.8);

    margin-bottom: 3rem;
  }
  .s-description > :nth-of-type(2) {
    width: 60%;
    font-size: 0.8rem;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .s-description > :nth-of-type(1) {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .s-description > :nth-of-type(2) {
    margin-top: 0.5rem;
    width: 300px;
    font-size: 0.7rem;
    text-align: center;
  }
  .s-left {
    align-items: center;
    gap: 0.5rem;
  }
  .community > * {
    transform: scale(0.8);
  }
  .community {
    align-items: center;
    width: 500px;
    flex-direction: row;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-y: auto;
    gap: 0.3rem;
  }
}
