.support {
  margin-top: 5rem;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.s-left {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
}

.community {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.s-description {
  display: flex;
  flex-direction: column;
  gap: 0.25;
  text-align: center;
}
.s-description > :nth-of-type(1) {
  font-size: 3rem;
  font-weight: bold;
}

@media screen and (max-width: 2000px) {
}
@media screen and (max-width: 1360px) {
  .support {
    height: max-content;
  }
  .community {
    position: relative;
    width: 50rem;
    flex-direction: column;
  }
  .s-description > :nth-of-type(1) {
    font-size: 2rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 650px) {
  .support {
    height: max-content;
  }
  .community > * {
    transform: scale(0.8);

    margin-bottom: 3rem;
  }
  .s-description > :nth-of-type(2) {
    font-size: 0.5rem;
    text-align: center;
  }
}
