.Navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  flex: 1;
  align-items: center;
}
.logo {
  color: var(--green);
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 5px;
}
.logo:hover {
  cursor: pointer;
}
.nav-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.nav-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}
.nav-list > ul > li {
  font-size: 1rem;
}
.nav-list > ul > li:hover {
  cursor: pointer;
  color: var(--orange);
}
.nav-list > ul > li:hover {
  cursor: pointer;
  color: var(--orange);
}

.nav-button {
  flex: 1;
  width: fit-content;
}
.button:hover {
  background-color: var(--orange);
  cursor: pointer;
  color: white;
  transition: 300ms;
}
@media only screen and (max-width: 700px) {
  .nav-list {
    display: none;
  }
}
